* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #F0C5AD;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


section {
    margin: 5em auto;
    width: 472px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
}