* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #F0C5AD;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


section {
    margin: 5em auto;
    width: 472px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    gap: 1rem;
}

.first-wrapper {
    display: flex;
    gap: 2.5rem;
}

.second-wrapper {
    display: grid;
    grid-template-areas: 
        "title title"
        "first second"
        "big gib"
        "first-img second-img";
}

.title {
    grid-area: title;
}

.first-para {
    grid-area: first;
}

