* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #F0C5AD;
    font-family: 'Poppins', sans-serif;
}


section {
    margin: 5em auto;
    width: 530px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.first-wrapper {
    display: flex;
    gap: 2.5rem;
    padding: 0 3rem;
}

.first-wrapper > .first-text > h1, .second-text > h1, .third-text > h1 {
    font-size: 1.2rem;
}

.first-wrapper > .first-text > p, .second-text > p, .third-text > p {
    font-size: 1.2rem;
}


.second-wrapper {
    display: grid;
    grid-template-areas: 
        "title title"
        "first second"
        "big big"
        "first-img second-img";
        gap: .2rem;
    padding: 0 3rem;
}

.title {
    grid-area: title;
    text-align: center;
}

.title-1 {
    font-size: 8.4rem;
    margin: 0;
}

.first-para {
    grid-area: first;
}

img {
    height: 100%;
    width: 100%;
}

.second-para {
    grid-area: second;
    margin-left: 3rem;
}

.first-img-div {
    grid-area: big;
}

@media only screen and (min-width: 1000px) {
    body {
        margin: 0;
    }

    .first-wrapper {
        justify-content: space-between;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .first-text, .second-text, .third-text {
        width: 294px;
    }

    .title-1 {
        font-size: 10rem;
        margin: 0;
        padding: 0;
    }

    section {
        width: 900px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        padding: 0;
        
    }
    img {
        width: 100%;
    }

    .second-wrapper {
        grid-template-areas: 
            "big title title"
            "big first second"
            "big first-ime second-ime";
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin: 0;
    }

    .big {
        width: 100%;
    }
    img {
        object-fit: cover;
    }
    
    .first-text, .third-text {
        border-left: 1px solid #CCAB99 ;
        margin-top: 0;
        width: 298px;
        padding-top: 4.9rem;
        padding-left: 3.4rem;
        padding-right: 7.3rem;
        
    }
    .first-text {
        border-right: 1px solid #CCAB99;
    }
    .second-text {
        padding-top: 4.9rem;
        padding-left: 3.4rem;
        padding-right: 7.3rem;

    }
}